
.services {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.tab-content {
    margin-bottom: 85px;
}

.services__descr {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #222C5B;
}

.services__title {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: center;
}

.nav-underline .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-underline .nav-link {
    border-bottom: 2px solid transparent;
    flex-grow: 1;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    border-bottom-color: #2685C5 !important;

}

.nav-underline .nav-link.active {
    border-bottom: 5px solid #2685C5 !important;
}

.nav-item a:active {
    font-family: Gogh;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: center;
}

.nav-item a {
    color: #222C5B;
    font-family: Gogh;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: center;
}

.services__column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
    gap: 20px;
}

.services__table__item {
    padding: 0;
    margin-bottom: -30px;
    border-radius: 10px;
    box-shadow: 1px 4px 14px 0px #20274D1A;
    width: calc(50% - 1%);
    position: relative;
    z-index: 1;
}

.services__table__title {
    font-family: Gogh, sans-serif;
    font-size: 31px;
    font-weight: 400;
    line-height: 40px;
    color: #222C5B !important;
}
.services__table__content{
    display: flex !important;
    justify-content: right;
    position: relative;
    /* flex-direction: row !important; */
    flex-wrap: nowrap !important;
    gap: 30px;
    padding: 0px 30px 0px 30px;
    align-items: center;
    margin-right:0;
    border-radius: 10px 0px 0px 0px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*gap:30px;*/
    width: 610px;
    height: 190px;
    /*padding: 0px 30px 0px 30px;*/
    /*border-radius: 10px 0px 0px 0px;*/

}
.services__table__img{
    width: 100px;
    height: 100px;
    gap: 0px;
    border-radius: 60px 0px 0px 0px;

}
.services__table__text{
    position: relative;
    right: 15%;
    padding: 5px;
}